<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Testbook Executions</h4>
            </div>
            <!-- end card header -->
            <div class="card-body">
                <div class="row mb-md-2">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="tickets-table_length"><label class="d-inline-flex align-items-center">Show
                              <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                                  [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                                  <option [ngValue]="1">1</option>
                                  <option [ngValue]="10">10</option>
                                  <option [ngValue]="25">25</option>
                                  <option [ngValue]="50">50</option>
                                  <option [ngValue]="100">100</option>
                              </select> entries</label></div>
                    </div>
                    <!-- Search -->
                    <div class="col-sm-12 col-md-6">
                        <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label class="d-inline-flex align-items-center">Search:
                              <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                                  aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
                    </div>
                    <!-- End search -->
                </div>
                <div class="table-responsive">
                    <table id="datatable" class="table table-bordered dt-responsive nowrap w-100 datatables">
                        <tbody *ngFor="let job of testbooks;let i=index;">
                            <tr>
                                <td>
                                    <div class="card">
                                        <div class="card-body">



                                            <div class="row">
                                                <div class="col-9">
                                                    <p>test</p>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center mt-2">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            Showing {{service.startIndex}} to {{service.endIndex}} of {{service.totalRecords}} entries
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-5">
                        <div class="text-md-right float-md-end pagination-rounded">
                            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>



                <div class="row">
                    <div class="col-md-4">
                        <!-- <input *ngIf="config.filtering" placeholder="Filter all columns"
                           [ngTableFiltering]="config.filtering"
                           class="form-control"
                           (tableChanged)="onChangeTable(config)" />  -->
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->
</div>
<!-- end row -->